@tailwind base;
@tailwind components;
@tailwind utilities;
 
html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --blackbackground: 0 0% 0%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;

    
    --custom-green-light: rgba(74, 222, 128, 1);
    --custom-green-dark: rgba(22, 101, 52, 1);

  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  :root {
    --color-fill: #34d399; 
    --color-text-base: #000000;
    --color-text-inverted: #34d399;
    --color-button-accent: #34d399;
    --color-button-onbackground-accent: #000000;
    --color-button-accent-hover: #5ddcad;
    --color-icon-accent: #34d399;
    --color-icon-accent-hover: #5ddcad;
  }
  .theme-emerald {
    --color-fill: #34d399; 
    --color-text-base: #000000;
    --color-text-inverted: #34d399;
    --color-button-accent: #34d399;
    --color-button-onbackground-accent: #000000;
    --color-button-accent-hover: #5ddcad; /* 80% opacity of button color */
    --color-icon-accent: #34d399;
    --color-icon-accent-hover: #5ddcad; /* 80% opacity of icon color */
  }
  .theme-sky {
    --color-fill: #38bdf8; 
    --color-text-base: #000000;
    --color-text-inverted: #38bdf8;
    --color-button-accent: #38bdf8;
    --color-button-onbackground-accent: #000000;
    --color-button-accent-hover: #60caf9; /* 80% opacity of button color */
    --color-icon-accent: #38bdf8;
    --color-icon-accent-hover: #60caf9; /* 80% opacity of icon color */
  }
  .theme-rose {
    --color-fill: #e11d48;
    --color-text-base: #ffffff;
    --color-text-inverted: #e11d48;
    --color-button-accent: #e11d48;
    --color-button-onbackground-accent: #ffffff;
    --color-button-accent-hover: #e74a6d; /* 80% opacity of button color */
    --color-icon-accent: #e11d48;
    --color-icon-accent-hover: #e74a6d; /* 80% opacity of icon color */
  }
  .theme-black {
    --color-fill: #000000;
    --color-text-base: #ffffff;
    --color-text-inverted: #000000;
    --color-button-accent: #000000;
    --color-button-onbackground-accent: #ffffff;
    --color-button-accent-hover: #333333; /* 80% opacity of button color */
    --color-icon-accent: #000000;
    --color-icon-accent-hover: #333333; /* 80% opacity of icon color */
  }
  .theme-gray {
    --color-fill: #9ca3af;
    --color-text-base: #ffffff;
    --color-text-inverted: #9ca3af;
    --color-button-accent: #9ca3af;
    --color-button-onbackground-accent: #ffffff;
    --color-button-accent-hover: #AFB5BF; /* 80% opacity of button color */
    --color-icon-accent: #9ca3af;
    --color-icon-accent-hover: #AFB5BF; /* 80% opacity of icon color */
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


/* Custom CSS file */
.custom-gradient {
  background-image: linear-gradient(90deg, var(--custom-green-dark) 0%, var(--custom-green-light) 50%, var(--custom-green-dark) 100%);
}


/* Custom Scrollbar Styles */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: var(--custom-green-light) #f8fafc; /* green thumb and light track */
}

.scrollbar-custom::-webkit-scrollbar {
  width: 12px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #fff; /* very light gray, almost white */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: var(--custom-green-light); 
  border-radius: 20px;
  border: 3px solid #f8fafc; /* same as track color */
}

/* Container with fade effect */
.fade-container {
  position: relative;
  max-height: 400px; /* Adjust to your needs */
  overflow: hidden;
}

/* Fade effect */
.fade-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px; /* Height of fade area */
  background: linear-gradient(to bottom, transparent, white); /* Adjust color to match background */
  pointer-events: none;
}

/* THEMES */
