@tailwind base;
@tailwind components;
@tailwind utilities;

html, 
body,
:root {
  height: 100%;
}

/* Custom Scrollbar Styles */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #2563EB #f8fafc; /* blue thumb and light track */
}

.scrollbar-custom::-webkit-scrollbar {
  width: 10px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #fff; /* very light gray, almost white */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #2563EB; /* blue, similar to bg-blue-600 */
  border-radius: 20px;
  border: 3px solid #f8fafc; /* same as track color */
}

/* Container with fade effect */
.fade-container {
  position: relative;
  max-height: 400px; /* Adjust to your needs */
  overflow: hidden;
}

/* Fade effect */
.fade-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px; /* Height of fade area */
  background: linear-gradient(to bottom, transparent, white); /* Adjust color to match background */
  pointer-events: none;
}